RewriteEngine On

RewriteBase /

#safe load
RewriteRule ^(cache|source|install)/.*\.php$ / [F]
RewriteRule ^.*\.tpl$ / [F]

#speed load
RewriteRule ^(resource|tpls|install/tpls)/(.*)$ $1/$2 [L]

#url rewrite as follows

RewriteRule ^index/([a-z\.]+)/([a-z\.]+)\.html$ index\.php\?ctrl=$1&method=$2 [QSA,L]
RewriteRule ^index/([a-z\.]+)/([a-z\.]+)/(.+)\.html$ index\.php\?ctrl=$1&method=$2&rewrite=$3 [QSA,L]

RewriteRule ^admin/([a-z\.]+)/([a-z\.]+)\.html$ admin\.php\?ctrl=$1&method=$2 [QSA,L]
RewriteRule ^admin/([a-z\.]+)/([a-z\.]+)/(.+)\.html$ admin\.php\?ctrl=$1&method=$2&rewrite=$3 [QSA,L]
