#
# Apache/PHP/ZBCore 设置:
#

# 保护文件和目录访问
<FilesMatch "\.(tpl)$|^(cache|source)">
  Order allow,deny
</FilesMatch>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks

# 404错误信息
ErrorDocument 404 /index.php

# 文件favicon.ico不存在的错误信息
<Files favicon.ico>
  # There is no end quote below, for compatibility with Apache 1.3.
  ErrorDocument 404 "The requested file favicon.ico was not found.
</Files>

# 设置默认页
DirectoryIndex index.php index.html index.htm

# PHP 5, Apache 1 and 2.
<IfModule mod_php5.c>
  php_flag short_open_tag                   on
  php_flag magic_quotes_gpc                 off
  php_flag magic_quotes_sybase              off
  php_flag register_globals                 off
  php_flag session.auto_start               off
  php_value mbstring.http_input             pass
  php_value mbstring.http_output            pass
  php_flag mbstring.encoding_translation    off
</IfModule>

# 各种重写规则.
<IfModule mod_rewrite.c>
  RewriteEngine on

  # 如果ZBCore在一个子目录或虚拟子目录且URL重写规则不正确工作时则需修改RewriteBase
  # 例如，如果您的网站是在http://example.com/drupal取消注释并修改下行:
  # RewriteBase /drupal
  #
  # 如果你的网站运行在虚拟根目录
  # 例如: http://example.com/
  # 取消注释并修改下行:
  # RewriteBase /

  # 通过不存在的目录和文件指向到index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^ index.php [L]

  # 为CSS和JS文件纠正gzip压缩规则
  # 要求mod_rewrite和mod_headers启用
  <IfModule mod_headers.c>
    # 如果存在且客户端接受gzip压缩则压缩CSS文件
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.css $1\.css\.gz [QSA]

    # 如果存在且客户端接受gzip压缩则压缩JS文件
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.js $1\.js\.gz [QSA]

    # 纠正内容类型并防止mod_deflate俩次压缩
    RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1]
    RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1]

    <FilesMatch "(\.js\.gz|\.css\.gz)$">
      # 纠正解码类型
      Header append Content-Encoding gzip
      # 代理缓存gzipped与non-gzipped css/js分开
      Header append Vary Accept-Encoding
    </FilesMatch>
  </IfModule>
</IfModule>
