@import url(global.css);
#message{margin:68px auto;width:500px;overflow:hidden;border:1px #d3d3d3 solid;color:#333;background:white;}
#message h1{border-bottom:1px #d3d3d3 solid;line-height:30px;text-indent:1em;}
#message h2{clear:right;padding:30px 20px;font-weight:normal;}
#message p{clear:both;text-align:right;}
#message em.icon{float:left;width:90px;height:90px;overflow:hidden;}
#message.success h1{color:#0c0;}
#message.success em.icon{background:url(images/message-icons.gif) no-repeat;}
#message.error h1{color:#c00;}
#message.error em.icon{background:url(images/message-icons.gif) left -90px no-repeat;}
